.footer {
  background-color: #15141a;
  text-align: center;
  .social {
    list-style: none;
    padding-top: 51px;
    word-spacing: 21px;
    font-size: 20px;
    padding-right: 29px;
    > li {
      display: inline;

      > a {
        opacity: 0.2;
        color: #ffffff;

        &:hover {
          opacity: 1;
          color: $primary;
        }
      }
    }
  }
  .text-copyright {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #444348;
    padding-bottom: 40px;
    padding-top: 2px;
    letter-spacing: 0.2px;
  }
}
