.home {
  // background-image: url("../img/bg_home.png");
  // background-size: cover;
  // height: 800px;

  .container {
    padding-top: 19px;
  }
}

.navbar {
  &-brand {
    color: #fff;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.3px;
    margin: 0;

    &:hover,
    &:active {
      color: #fff;
    }
  }

  &-text {
    opacity: 0.3;
    color: #fff;
    font-size: 9px;
    font-weight: 400;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    line-height: 10px;
    padding-left: 3px;
    padding-top: 13px;
  }

  &-toggler {
    color: rgba(254, 254, 254, 0.5);
    border-color: rgba(255, 254, 254, 0.3);
  }

  &-collapse {
    justify-content: end;
  }

  &-nav {
    gap: 25px;
  }
}
.nav {
  &-link {
    color: #fffefe;
    padding: 0 !important;
    position: relative;
    text-align: center;
    &::after {
      content: "";
      display: block;
      position: relative;
      background-image: url("../img/double_line.png");
      height: 2px;
      max-width: 42px;
      left: 50%;
      transform: translate(-50%);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
      top: 7px;
    }

    &.active::after {
      opacity: 1;
    }

    &:hover {
      color: #008ed6;
    }

    &:focus {
      color: #fffefe;
    }
  }
}

header {
  position: absolute;
  // background-color: black;
}
