@import "node_modules/bootstrap/scss/bootstrap.scss";
* {
  font-family: Source Sans Pro;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1194px;
}

.subtitle {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  color: #008ed6;
}

.caption {
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #fff;
}

.description-text {
  font-size: 18px;
  line-height: 26px;
  color: #999;
}

.btn {
  color: #fff;
  width: 160px;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  &-primary {
    background-color: #008ed6;
    box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, 0.1);
  }
}

hr {
  background-color: #ededed;
}

@import "_fonts.scss";
@import "_home.scss";
@import "_features.scss";
